<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <div class="logo-container">
      <ion-img 
        src="assets/images/logo.png" 
        alt="BUSCAFILMES" 
        class="logo-image">
      </ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-card"  *ngFor="let item of movies" >
    <div (click)="openMovieInfo(item.id)">
    <div class="image-container">
        <ion-img 
          [src]="getImagePath(item.poster_path)"
          [alt]="item.title + ' poster'"
          (ionError)="handleImageError($event)"
        ></ion-img>
    </div>
    <ion-card-header>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        {{ item.overview }}
    </ion-card-content>
    </div>
    <div>
    <ion-button (click)="toggleLike(item.id)" fill="clear">
      <ion-icon 
        [name]="isLiked(item.id) ? 'heart' : 'heart-outline'" 
        [color]="isLiked(item.id) ? 'danger' : 'medium'"
      ></ion-icon>
    </ion-button>

    <ion-button (click)="toggleFavorite(item.id)" fill="clear">
      <ion-icon 
        [name]="isFavorite(item.id) ? 'star' : 'star-outline'" 
        [color]="isFavorite(item.id) ? 'warning' : 'medium'"
      ></ion-icon>
    </ion-button>

    <ion-button (click)="toggleWatchLater(item.id)" fill="clear">
      <ion-icon 
        [name]="isWatchLater(item.id) ? 'bookmark' : 'bookmark-outline'" 
        [color]="isWatchLater(item.id) ? 'primary' : 'medium'"
      ></ion-icon>
    </ion-button>
    </div>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
